<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Your {{var store.getFrontendName()}} payment recover @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>


            <p class="greeting">{{trans "%customer_name," customer_name=$order.getCustomerName()}}</p>

            <p>
                Your order # {{var order.increment_id}} it's <strong>{{var order.getStatusLabel()}}</strong>, to make payment
                <a href="{{var pagseguro_recover_url}}">{{trans 'click here'}}</a>.
            </p>
            <p>
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
