<?xml version="1.0"?>
<!--
/**
 * 2007-2017 [PagSeguro Internet Ltda.]
 *
 * NOTICE OF LICENSE
 *
 *Licensed under the Apache License, Version 2.0 (the "License");
 *you may not use this file except in compliance with the License.
 *You may obtain a copy of the License at
 *
 *http://www.apache.org/licenses/LICENSE-2.0
 *
 *Unless required by applicable law or agreed to in writing, software
 *distributed under the License is distributed on an "AS IS" BASIS,
 *WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *See the License for the specific language governing permissions and
 *limitations under the License.
 *
 *  @author    PagSeguro Internet Ltda.
 *  @copyright 2016 PagSeguro Internet Ltda.
 *  @license   http://www.apache.org/licenses/LICENSE-2.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pagseguro>
                <title>PagSeguro</title>
                <active>0</active>
                <model>UOL\PagSeguro\Model\Payment</model>
                <order_status>pagseguro_iniciado</order_status>
                <notification>{{base_url}}pagseguro/notification/response</notification>
                <log_file>var/log/pagseguro.log</log_file>
                <group>pagseguro</group>
            </pagseguro>
            <pagseguro_default_lightbox>
                <title>PagSeguro</title>
                <active>0</active>
                <model>UOL\PagSeguro\Model\PaymentDefaultlLightbox</model>
                <order_status>pagseguro_iniciado</order_status>
                <group>pagseguro</group>
            </pagseguro_default_lightbox>
            <pagseguro_boleto>
                <title>Boleto Bancário</title>
                <active>0</active>
                <model>UOL\PagSeguro\Model\PaymentBoleto</model>
                <order_status>pagseguro_iniciado</order_status>
                <group>pagseguro</group>
            </pagseguro_boleto>
            <pagseguro_credit_card>
                <title>Cartão de Crédito</title>
                <active>0</active>
                <model>UOL\PagSeguro\Model\PaymentCreditCard</model>
                <order_status>pagseguro_iniciado</order_status>
                <group>pagseguro</group>
            </pagseguro_credit_card>
            <pagseguro_online_debit>
                <title>Débito Online</title>
                <active>0</active>
                <model>UOL\PagSeguro\Model\PaymentOnlineDebit</model>
                <order_status>pagseguro_iniciado</order_status>
                <group>pagseguro</group>
            </pagseguro_online_debit>
        </payment>
    </default>
</config>
